body {
    background-color: rgb(146, 149, 144);
}

#main {
    min-height: 350px;
    background-color: #fff;
}


/* .button-race */


/* { */


/* --ml: 0px; */


/* --backgroud-color: rgb(0, 0, 0); */


/*  */


/* padding: 0.5rem 1rem; */


/* transform: translate(var(--ml, --backgroud-color)); */


/* transform: translate(var(--backgroud-color)); */


/* transition: 0.6s; */


/* background-color: #000; */


/* color: #fff; */


/* } */

.menu1,
.menu2,
.menu3,
.menu4,
.menu5 {
    --ml: -2000px;
    /* padding: 0.5rem 1rem; */
    transform: translate(var(--ml));
    transition: 0.2s;
}